page-home {
  .img-iso{
    width: 30px;
    position: absolute;
    left: 6px;
    top: 6px;
  }
  .bar-button-default-ios, .bar-button-default.bar-button-ios-default, .bar-button-clear-ios-default {
    color: #264a60;
    background-color: transparent;
  }
}
