page-tread {
  .bar-button-default-ios, .bar-button-default.bar-button-ios-default, .bar-button-clear-ios-default {
    color: #264a60 !important;
    background-color: transparent;
  }
  .list-ios > .item-block:first-child {
    border-top: 0.55px solid #fff !important;
  }
//   .checkbox-ios .checkbox-icon {
//     border-radius: 50%;
//     position: absolute;
//     // right: 10px !important;
//     // top: 15px;
//     width: 21px;
//     height: 21px;
//     border-width: 1px;
//     border-style: solid;
//     border-color: #c8c7cc;
//     background-color: #fff;
// }


}
